Положение об европейсокм чемпионате.

регистарция
просмотр всех команд




<%= javascript_tag do %>
  window.articlesURL = '<%= j articles_url %>';
  window.articles = <%= raw Article.all.to_json %>
<% end %>
  <% @teams.each do |team| %>
<div>
	<p> 
	   название <%=team.name_team%>
	</p>
	<p> 
	   имя менеджера <%if team.manager!= nil %> <%=team.manager.name%> <%end%>
	</p>
	<p> 
	    должность <%if team.manager!= nil %> <%=team.manager.position%> <%end%>
	</p>

		
	<%team.teammates.each do |tm|%>	
	<%if tm.name != ""%>	
	<p> 
	   имя <%=tm.name%>
	</p>
	<p> 
	   уровень <%=tm.level%>
	</p>
	<%end%>
	<%end%>
<p>
<%= link_to 'Destroy', team_path(team),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

</p>
</div>

  <% end %>

