
<%= form_for @team, url: {action: "create"} do |f| %>
		
 <p>
    <%= f.label :Название %><br>
    <%= f.text_field :name_team %>
  </p>


<p> менеджер </p> 
  <%= f.fields_for @team.manager do |ct| %>
    <p>
      <%= ct.label :ФИО %><br>
      <%= ct.text_field :name %>
    </p>
    <p>
      <%= ct.label :университет %><br>
      <%= ct.text_field :univercity %>
    </p>
    <p>
      <%= ct.label :контакты %><br>
      <%= ct.text_field :kontakts %>
    </p>

   <% end %>

 

<%@team.teammates.each do |tm|%>
<p> игрок </p> 
  <%= f.fields_for tm, index: tm.id do |ct| %>
    <p>
      <%= ct.label :ФИО %><br>
      <%= ct.text_field :name %>
    </p>
    <p>
      <%= ct.label :рейтинг %><br>
      <%= ct.text_field :level %>
    </p>
   <% end %>
<%end%>


 <p>
    <%= f.submit %>
  </p>
<%end%>
