<ol>
<% @teams.each do |team| %>
<li>Команда<ul>
 	<li> название: <%=team.name_team%> </li>
	
        <li> сoобщение:  <%=team.message%> </li>
	<%if team.manager!= nil %>
        <li> 
	   менеджер:  
	    <ul>
		<li> имя: <%=team.manager.familyname%> <%=team.manager.name%> <%=team.manager.secondname%> </li>
		<li> университет: <%=team.manager.univercity%> </li>
	       <li> должность: <%=team.manager.position%> </li>
	  	<li> телефон: <%=team.manager.kontakts%> </li>
	  	<li> email: <%=team.manager.email%> </li>
            </ul>		
	</li>
	<%end%>
	
<li>
        Участники
	<ul>
	<%team.teammates.each do |tm|%>	
	<li> [<%=tm.lastname%> <%=tm.secondname%> <%=tm.name%> <%=tm.secondname%>, 
	   уровень="<%=tm.level%>", email = <%=tm.email%>] </li>
	<%end%>
	</ul>
</li>

<li>
<%= link_to 'Destroy', team_path(team),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<li>
<%= link_to 'Edit', edit_team_path(team) %>
</li>
</li>
</ul>
  <% end %>
</ol>
