<%if session[:lang] == 0
		@reg = "Регистрация команды";
		@text_form = "Как бы не утомляла Вас эта формочка, просим ее заполнить. Это нужно для организации чемпионата. Много полей? Ну а кому сейчас легко.";
		@info_team = "Общая информация о команде";
		@name_team = "Название команды";
		@text_message = "Вы можете оставить некоторое сообщение для нас. Например о скидках для проживания.";
		@manager = "Менеджер"

	else
		@reg = "Team registration";
		@text_form = "It would not bother you to fill this form . It is necessary for the organization of the championship. Many fields? And who is now easy.";
		@info_team = "General information";
		@name_team = "Name of your team";	
		@text_message = "You can also leave a message for us. For example, about hotels, and so on.";
		@manager = "Manager"
		
	end;%>


<%= form_for @team, {url: {action: "create"}, :html => {:id => 'registrationForm'} } do |f| %>
	<h2> <%=@reg%> </h2>
	<div class="registrationRegPar">
		<%=@text_form%>
	</div>
	<div class="fieldGroup">	
	<h3> <%=@info_team%> </h3>	

	<div class="oneField">
    <a><%=@name_team%></a>
    <%= f.text_field :name_team, placeholder:"Апельсин", :required => true %>
	</div>

     <div class="registrationRegPar2">
		<%=@text_message%>
	</div>

   
    <%= f.text_area :message, class:"registrationTextInput" %>
	</div>
	
<div class="fieldGroup">	
<h3> <%=@manager%> </h3>
  
<%= f.fields_for @team.manager do |ct|  %>
	<div class="oneField">
	<a>Фамилия</a>
      <%= ct.text_field :familyname, placeholder:"Иванов", :required => true%>
</div><div class="oneField">  
	<a>Имя</a>	    
      <%= ct.text_field :name , placeholder:"Иван", :required => true %>
	</div><div class="oneField">    	
    	<a>Отчество</a>
      <%= ct.text_field :secondname, placeholder:"Иванович", :required => true%>
</div><div class="oneField"> 
    	<a>Университет</a>
      <%= ct.text_field :univercity, placeholder:"Петрозаводский ГУ", :required => true%>
</div><div class="oneField">     
      <%= ct.label :Должность %><br>     
      <%= ct.select(:position, options_for_select([['ректор','ректор'], ['студент','студент'],['преподаватель','преподаватель']]),{}) %>
</div><div class="oneField"> 
    	<a>Телефон</a>
      <%= ct.text_field :kontakts, placeholder:"+79876543210", :required => true%>
</div><div class="oneField"> 
    	<a>Почта</a>
      <%= ct.email_field :email, placeholder:"ivan@yahoo.com", :required => true %>
</div>     
   <% end %>
</div><!-- class="fieldGroup" -->

	<div class="registrationRegPar">
<h3> Состав команды </h3>

		Заполните информацию о составе команды. Контактные данные могут быть использованы для связи с игроками.
		Контактные данные не будут видны всем посетителям сайта. Если в команде выступают более трех человек, воспользуйтесь кнопкой "добавить игрока".
	</div>

 
<%q=1%>
<%@team.teammates.each do |tm|%>

<% if q <= 3 %>
 <div class="fieldGroup teammateGroup" id="<%="player"+q.to_s%>" > 
<% else %>
 <div class="fieldGroup teammateGroup" id="<%="player"+q.to_s%>" hidden="true"> 
<% end %>

<h3> Игрок <%=q%> </h3>
<%q=q+1%> 
  <%= f.fields_for tm, index: tm.id do |ct| %>
	<div class="oneField"><a>Фамилия</a>
      <%= ct.text_field :lastname, class:"e-regTextInput", placeholder:"Петров" %>
	</div>
	<div class="oneField"><a>Имя</a>   
      <%= ct.text_field :name, class:"e-regTextInput", placeholder:"Петр" %>
	</div>
   	<div class="oneField"><a>Отчество</a>
      <%= ct.text_field :secondname, class:"e-regTextInput", placeholder:"Петрович" %>
	</div>   
	<div class="oneField"><a>Уровень игры</a>
      <%= ct.text_field :level, class:"e-regTextInput", placeholder:"1 дан" %>
	</div>   
	<div class="oneField"><a>e-mail</a>
      <%= ct.email_field :email, class:"e-regTextInput", placeholder:"petr@yahoo.com" %>
   </div>
   <% end %>
</div>
<%end%>
<div class="registrationAddPlayer">
<a onClick="playerAdd()" style="color:#0000AA" > Добавить игрока </a>
</div>
<div class="registrationAddPlayer">
<a onClick="playerRem()" style="color:#AA0000" > Убрать игрока </a>
</div>
<div class="registrationAddPlayer">
    <%= f.submit :value=>'Добавить каманду', :class=>"e-regSubmit"%>
</div>
<%end%>


